<div class="container py-4">
    <div class="row mb-3 align-items-center">
        <div class="col-md-8 col-sm-6">
            <h4><strong>My Journey</strong></h4>
            <p><%= @itinerary.name %></p>
            <%# Debug information %>
            <% if @itinerary.itinerary_attractions.empty? %>
              <p>No attractions found for this itinerary</p>
            <% end %>
        </div>
        <div class="col-md-4 col-sm-6 text-md-end">
        </div>
    </div>
    
    <!-- Main content row with itinerary and sidebar -->
    <div class="row" data-controller="google-maps">
        <!-- Left column - Itinerary content -->
        <div class="col-md-6">
        <% @itinerary.itinerary_attractions.group_by(&:day).each_with_index do |day_attractions, index| %>        
            <h3>Day <%= index + 1 %></h3>
            <% day_attractions_sorted = day_attractions[1].sort_by { |day_attraction| day_attraction.starting_time }  %>
                <%# sorted_attractions = attractions.sort_by { |attraction| attraction[:ticket_price] } %>
            <table class="table table-hover">
                <tbody>
                <% day_attractions_sorted.each_with_index do |day_attraction, index| %>
                    <tr data-action="click->google-maps#attraction"
                        data-google-maps-target="attraction"
                        data-google-maps-lat-value=<%= day_attraction.attraction.latitude %>
                        data-google-maps-lng-value=<%= day_attraction.attraction.longitude %>>
                        <td style="width: 130px;"><%= day_attraction.starting_time.in_time_zone("Asia/Singapore").strftime("%I:%M %p") %></th>
                        <td style="text-align: left"><%= day_attraction.attraction.name %></td>
                        <td style="text-align: end; font-weight: bold"><%= rand(1..20)*4.0 %></td>
                    </tr>
                    <%# <p> index = <%= index %>
                    <% if index != (day_attractions_sorted.length - 1) %>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <%# <%= travel_info["routes"][0]["legs"][0]["polyline"]["encodedPolyline"] %>
                                <%= simple_form_for :travel, url: itinerary_fetch_route_path(@itinerary), html: { 
                                    data: { google_maps_target: "form", 
                                    action: "submit->google-maps#fetchDuration",
                                    form_id: day_attractions_sorted[index].id } 
                                } do |f| %>
                                  <%= f.input :itinerary_attraction_from_id, as: :hidden, input_html: { value: day_attractions_sorted[index].id } %>
                                  <%= f.input :itinerary_attraction_to_id, as: :hidden, input_html: { value: day_attractions_sorted[index + 1].id } %>
                                  <%= f.input :mode, collection: [["Public Transport", "TRANSIT"], ["Taxi", "DRIVE"], ["Walk", "WALK"], ["Bike", "BICYCLE"]], label: "Choose Travel Mode", include_blank: "Select mode", input_html: { class: "form-control" } %>
                                  <%= f.submit "Get travel duration", class: "btn btn-primary", data: { action: "click->google-maps#fetchDuration" } %>
                                <% end %>                                
                            </td>
                        
                            <%# <td data-google-maps-target="durationResult" data-form-id="<%= day_attractions_sorted[index].id %>
                            <%# "  %>
                            <%# class="mt-2"> %>
                              <!-- Duration will be displayed here -->
                            <%# </td> %>
                        </tr>
                        <%# <% start_attraction_time = day_attraction.starting_time %>
                        <%# <% end_attraction_time = (start_attraction_time + day_attraction.attraction.duration.hours) %>
                        <%# <% travel_info = GoogleMapsService.create_travel(day_attractions_sorted[index].attraction, day_attractions_sorted[index + 1].attraction, "TRANSIT") %>
                        <%# <% travel_duration = travel_info["routes"][0]["legs"][0]["duration"].gsub("s", "").to_i %>
                        <%# <% end_travel_time = end_attraction_time + travel_duration.seconds %>
                        <%# <% travel_mode = Travel.find_by(itinerary_attraction_from: day_attractions_sorted[index]).mode if Travel.find_by(itinerary_attraction_from: day_attractions_sorted[index]) %>
                        <% travel_info = Travel.find_by(itinerary_attraction_from: day_attractions_sorted[index]) %>
                        <% end_travel_time = day_attractions_sorted[index + 1].starting_time %>
                        <% start_travel_time = end_travel_time - travel_info.duration.minutes %>
                        <% travel_mode = travel_info.mode %>
                        <tr data-action="click->google-maps#fetchRoute"
                            data-google-maps-origin-lat-value=<%= day_attractions_sorted[index].attraction.latitude %>  
                            data-google-maps-origin-lng-value=<%= day_attractions_sorted[index].attraction.longitude %>
                            data-google-maps-destination-lat-value=<%= day_attractions_sorted[index + 1].attraction.latitude %>
                            data-google-maps-destination-lng-value=<%= day_attractions_sorted[index + 1].attraction.longitude %>
                            data-google-maps-mode-value=<%= travel_mode %>>
                            <td style="width: 130px;" 
                                data-form-id="<%= day_attractions_sorted[index].id %>"
                                data-google-maps-target="durationResult">                                
                                 <!-- Duration will be displayed here after form submission -->
                            </td>
                            <td style="text-align: left"><%= day_attractions_sorted[index].attraction.name %> - 
                                <%= day_attractions_sorted[index + 1].attraction.name%></td>
                            <td style="text-align: end; font-weight: bold"><%= travel_info.duration.seconds / 60 / 5.0 %></td>
                            <%# ["routes"][0]["legs"][0]["duration"]["text"] %>
                        </tr>
                        
                    <% end %>
                <% end %>
                </tbody>
            </table>
        <% end %>
        </div>
        
        <div class="col-md-6">
            <div
                id="map"
                data-google-maps-target="map"
                style="width: 100%;
                height: 400px;"
                data-markers="<%= @markers.to_json %>" ></div>    
        </div>
        <!--Sidebar content goes here -->
    </div> <!-- Close the row -->
    <div class="col-md-4 col-sm-6 text-md-end">
      <button class="btn btn-dark">See My Journey</button>
    </div>
    
</div> <!-- Close the container -->

 
