<div class="container py-4">
    <div class="row mb-3 align-items-center">
        <div class="col-md-8 col-sm-6">
            <h4><strong>My Journey</strong></h4>
            <p><%= @itinerary.name %></p>
            <%# Debug information %>
            <% if @itinerary.itinerary_attractions.empty? %>
              <p>No attractions found for this itinerary</p>
            <% end %>
        </div>
        <div class="col-md-4 col-sm-6 text-md-end">
        </div>
    </div>
    
    <!-- Main content row with itinerary and sidebar -->
    <div class="row">
        <% @itinerary.itinerary_attractions.each do |itinerary_attraction| %>
        <!-- Left column - Itinerary content -->
        <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row"><%= itinerary_attraction.starting_time.strftime('%I:%M %p') %></th>
                    <td><%= itinerary_attraction.attraction.name %></td>
                    <td><%= itinerary_attraction.attraction.price %></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
        <% end %><!--Sidebar content goes here -->
    </div> <!-- Close the row -->

    <div>
        <p><%= @itinerary.itinerary_attractions[0].attraction.name %></p>
        <p>place_id = <%= GoogleMapsService.geocode_address(@itinerary.itinerary_attractions[0].attraction.name)["place_id"]%></p>
        <p>latitude = <%= GoogleMapsService.geocode_address(@itinerary.itinerary_attractions[0].attraction.name)["navigation_points"][0]["location"]["latitude"]%></p>
        <p>longitude = <%= GoogleMapsService.geocode_address(@itinerary.itinerary_attractions[0].attraction.name)["navigation_points"][0]["location"]["longitude"]%></p>
        
        <p><%= @itinerary.itinerary_attractions[1].attraction.name %></p>
        <p>place_id = <%= GoogleMapsService.geocode_address(@itinerary.itinerary_attractions[1].attraction.name)["place_id"]%></p>
        <p>latitude = <%= GoogleMapsService.geocode_address(@itinerary.itinerary_attractions[1].attraction.name)["navigation_points"][0]["location"]["latitude"]%></p>
        <p>longitude = <%= GoogleMapsService.geocode_address(@itinerary.itinerary_attractions[1].attraction.name)["navigation_points"][0]["location"]["longitude"]%></p>

    </div>
</div> <!-- Close the container -->

 <div
  id="map"
  data-controller="google-maps"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>" ></div>
