<div class="container mt-4">
  <h1><%= @itinerary.name %></h1>
  
  <%# Debug information %>
  <% if @itinerary.itinerary_attractions.empty? %>
    <p>No attractions found for this itinerary</p>
  <% end %>

  <% @itinerary.itinerary_attractions.group_by(&:day).each do |day, attractions| %>
    <div class="day-section mb-4">
      <h2>Day <%= day %></h2>
      
      <% attractions.sort_by(&:order).each do |itinerary_attraction| %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <% if itinerary_attraction.attraction.photo.attached? %>
                <%= image_tag itinerary_attraction.attraction.photo, class: "img-fluid rounded-start" %>
              <% else %>
                <%= image_tag "cover-page.png", class: "img-fluid rounded-start" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= itinerary_attraction.attraction.name %></h5>
                <p class="card-text"><%= itinerary_attraction.attraction.description %></p>
                <p class="card-text">
                  <small class="text-muted">
                    Starting time: <%= itinerary_attraction.starting_time.strftime("%I:%M %p") %><br>
                    Duration: <%= itinerary_attraction.attraction.duration %> hours<br>
                    Price: $<%= itinerary_attraction.attraction.price %>
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>