<!DOCTYPE html>
<html>
  <head>
    <title>TravelBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>    

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google_maps, :api_key) %>&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 37.7749, lng: -122.4194 }, // Default location (San Francisco)
                zoom: 12
            });

            // Example: Adding a marker
            var marker = new google.maps.Marker({
                position: { lat: 37.7749, lng: -122.4194 },
                map: map,
                title: "Hello, San Francisco!"
            });
        }
      </script>
  </head>

  <body>
  <%= render "shared/flashes" %>
  
   <% if user_signed_in? || 
       (!current_page?(new_user_session_path) && 
        !current_page?(new_user_registration_path) && 
        !current_page?(edit_user_registration_path) && 
        !current_page?(edit_user_password_path) &&
        !current_page?(new_user_password_path) &&
        !current_page?(new_user_registration_path) &&
        !current_page?(user_registration_path) &&
        !current_page?(cancel_user_registration_path) &&
         current_page?(home_path) &&
         current_page?(itineraries_path) &&
        !flash[:alert] && 
        !flash[:error] &&
        !(resource&.errors&.any? if defined?(resource))) %>
    <%= render 'shared/navbar' %>

  <% elsif current_page?(root_path) %>
   <%= render 'shared/navbar' %>
  <% end %>
  <%= yield %>
  </div>
</body>
</html>
