<div class="position-sticky pt-1 top-0">
  <%# <%= @selected_attraction.to_json %>
  <%# above coded by Amanda %>
  <h1 class="my-4"><%= @selected_attraction.name %></h1>
  <% if @selected_attraction.tripadvisor_photos? %>
  <div class="my-4">
    <%= @selected_attraction.tripadvisor_photos %>
  </div>
  <% else %>
  <div class="my-4">
    <%= image_tag "cover-page.png", class: "img-fluid", style: "border-radius: 15px; height: auto;" %>
  </div>
  <% end %>
  <div class="my-4">
  <%= @selected_attraction.description %>
  </div>
  <table class="table table-hover my-4">
    <tbody>
      <% @selected_attraction.weekday_text.each do |day_time| %>
        <% day, time = day_time.split(": ", 2) %>
        <tr>
          <td><strong><%= day %></strong></td>
          <td><%= time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Remove from itinerary', edit_itinerary_path(@itinerary), class: "btn btn-dark btn-sm" %>
</div>
